
<div id="netsense-login-screen">
  <div class="container">

    <div class="col-xs-12">
      <div class="ns-login">

        <h1 class="login-header"> Log in to Netsense</h1>

        <img alt="Verizon logo" id="ns-vz-logo"
             src="https://www.verizon.com/cs/groups/public/documents/adacct/vzlogo_lg.png">

        <div class="ns-login-form">
          <form id="ns-login-form" (ngSubmit)="login()">
            <div class="ns-email">
              <label class="ns-login-label" for="username">Email Address</label>
              <input class="ns-login-input" type="text" placeholder="Enter email address" name="username" [(ngModel)]="user.email"  id="username" required />
            </div>
            <div class="ns-password">
              <label class="ns-login-label" for="password">Password</label>
              <input class="ns-login-input" type="password" placeholder="Enter Password" name="password" [(ngModel)]="user.password" id="password" required />
            </div>
            <input class="btn btn-primary ns-login-button" type="submit" value="Log in"/>
          </form>
        </div>

      </div>

    </div>
  </div>
</div>


